{% extends 'base.html' %}

{% block title %} | Doküman silme {% endblock %}

{% block content %}
<section id="register" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>
                            <i class="fas fa-file-pdf"></i> Dokümanı Sil</h4>
                    </div>
                    <div class="card-body">
                        {% include 'partials/_alerts.html' %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <p>"{{document.name}}" silmek istiyor musunuz?</p>
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <button class="btn btn-danger ml-2 float-right" type="submit">Sil</button>
                                        <a class="btn btn-info text-white float-right" href="{% url 'documents_index' %}">İptal</a>
                                    </div>
                                    <div class="col-md-6 mx-auto">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
