{% extends 'base.html' %}
{% load static %}

{% block title %} | Dokümalar {% endblock %}

{% block content %}

<br>
      {% include "partials/_alerts.html"%}
<div class="row d-flex justify-content-center">
        <div class="col-md-10">
        <div>
            <div class="row">
                <div class="col-md-12">

                    <!-- TODO: searh for listed document -->

                    <a class="btn btn-primary btn-sm m-2 float-right" href="{% url 'documents_search' %}">Yeni Arama</a>


                </div>
            </div>
            <table class="table border table-striped">
                <tr>
                    <th>Doküman Adı</th>
                    <th>Son Aranan Sorgu</th>
                    <th>Son Arama Tarihi</th>
                    {% if user.is_admin %}
                    <th>Arama Yapan</th>
                    {% endif %}
                    <th></th>
                </tr>

                {% for item in documents %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.query}}</td>
                    <td>{{item.modified_date}}</td>
                    {% if user.is_admin %}
                    <td>{{item.userID}}</td>
                    {% endif %}
                    <td>
                        <a class="btn btn-sm mt-1 btn-success" href="{% url 'documents_detail' item.id %}">Detaylar</a>
                        <a class="btn btn-sm mt-1 btn-danger" href="{% url 'documents_delete' item.id %}">Sil</a>
                        <a class="btn btn-sm mt-1 btn-dark" href="http://localhost:8000/media/{{item.path}}" target="_blank">Doküman PDF</a>
                    </td>     
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %} "></script>

<script type="text/javascript">
    $(function() {
        $('#querytype').change(function(){
            $('.secenekler').hide();
            $('#' + $(this).val()).show();
        });
    });
  </script>
{% endblock%}




