{% extends 'base.html' %}
{% load static %}

{% block title %} | Dokümalar {% endblock %}

{% block content %}

<br>
      {% include "partials/_alerts.html"%}
<div class="row d-flex justify-content-center">
        <div class="col-md-11">
        <div>
            <div class="row">
                <div class="col-md-12">

                    <!-- TODO: searh for listed document -->

                    <a class="btn btn-primary btn-sm m-2 float-right" href="{% url 'search' %}">Arama</a>


                </div>
            </div>
            <table class="table border table-striped">
                <tr>
                    <th>Doküman Adı</th>
                    <th>Son Aranan Sorgu</th>
                    <th>Son Arama Tarihi</th>
                    {% if user.is_admin %}
                    <th>Arama Yapan</th>
                    {% endif %}
                    <th></th>
                </tr>

                {% for doc in documents %}
                <tr>
                    <td>{{doc.name}}</td>
                    <td>{{doc.query}}</td>
                    <td>{{doc.modified_date}}</td>
                    {% if user.is_admin %}
                    <td>{{doc.userID}}</td>
                    {% endif %}
                    <td><a class="btn btn-sm btn-dark" href="http://localhost:8000/media/{{doc.path}}" target="_blank">Doküman
                        PDF</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %} "></script>

<script type="text/javascript">
    $(function() {
        $('#querytype').change(function(){
            $('.secenekler').hide();
            $('#' + $(this).val()).show();
        });
    });
  </script>
{% endblock%}




