{% extends 'base.html' %}
{% load static %}

{% block title %} | Kullanıcılar {% endblock %}

{% block content %}

<br>
      {% include "partials/_alerts.html"%}
<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <div >
            <div class="row">
                <div class="col-md-12">
                    <a class="open-modal btn btn-primary btn-sm float-right m-2" data-popup-url="{% url 'adduser' %}" href="{% url 'adduser' %}"><i class="fas fa-user-plus"></i></a>
                </div>
            </div>
            <table class="table border table-striped table-sm">
                <tr>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Email</th>
                    <th>Kullanıcı adı</th>
                    <th>Yetki durumu</th>
                    <th></th>
                </tr>

                {% for user in users %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.username}}</td>
                    {% if user.is_admin %}
                    <td>Yönetici</td>
                    {% else %}
                    <td>Kullanıcı</td>
                    {% endif %}
                    <td>
                        <a class="open-modal btn btn-sm btn-danger ml-1 float-right" data-popup-url="{% url 'deleteuser' user.id %}" href="{% url 'deleteuser' user.id %}"><i class="fas fa-trash-alt"></i></a>
                        <a class="open-modal btn btn-sm btn-success ml-1 float-right" data-popup-url="{% url 'edituser' user.id %}" href="{% url 'edituser' user.id %}"><i class="fas fa-user-edit"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock%}
